.D1{
    background-color: rgb(39, 68, 68);


}

body{
background-color: darkslategray;

}
ul{
    display:inline;
}
#Flist{
    display:inline;
    margin-left: 50px;
    font-size: 22px;
    font-family:Cursive ;
    font-weight: bold;
    
}
a{
    color: black;
    text-decoration: none;

}
#Fimg{
    border-radius: 8px;
    margin-left: 2%;
    margin-right: 2%;
    

}